 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }
 body {
   height: 100vh;
   width: 100%;
   font-family: sans-serif;
   display: grid;
   place-items: center;
 }
 h1 {
   color: cyan;
 }
 .container {
   text-align: center;
 }
 button {
   text-align: center;
   padding: 10px 20px;
   margin-top: 3%;
   font-size: 15px;
   border-radius: 10px;
   border: none;
   outline: none;
 }
 button:hover {
   background: #315399;
   color: #ffff;
 }

 @media(max-width:700px) {
   h1 {
     font-size:20px;
   }
 }